@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --background: #f3f4f6;
  --foreground: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-gradient-spin {
  animation: spin 6s ease-in infinite;
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

.glowy-text {
  background: linear-gradient(120deg, hsl(260 70% 70%), hsl(0 100% 80%));
  background-clip: text;
  color: transparent;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-fill-color: var(--color-background);
}

.glowy-text-filled {
  background: linear-gradient(120deg, hsl(260 70% 70%), hsl(0 100% 80%));
  background-clip: text;
  color: transparent;
}